In [1]:
import pandas as pd
retail_df = pd.read_csv('/Users/anup.sethuram/DEV/MGIT/py-de/plant/resources/online-retail-dataset.csv')

In [2]:
retail_df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [3]:
retail_df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [4]:
retail_df.groupby(['Country']).count()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID
Country,,,,,,,
Australia,1259,1259,1259,1259,1259,1259,1259
Austria,401,401,401,401,401,401,401
Bahrain,19,19,19,19,19,19,17
Belgium,2069,2069,2069,2069,2069,2069,2069
Brazil,32,32,32,32,32,32,32
Canada,151,151,151,151,151,151,151
Channel Islands,758,758,758,758,758,758,758
Cyprus,622,622,622,622,622,622,622
Czech Republic,30,30,30,30,30,30,30
Denmark,389,389,389,389,389,389,389
EIRE,8196,8196,8196,8196,8196,8196,7485
European Community,61,61,61,61,61,61,61
Finland,695,695,695,695,695,695,695
France,8557,8557,8557,8557,8557,8557,8491
Germany,9495,9495,9495,9495,9495,9495,9495
Greece,146,146,146,146,146,146,146
Hong Kong,288,288,288,288,288,288,0
Iceland,182,182,182,182,182,182,182
Israel,297,297,297,297,297,297,250
Italy,803,803,803,803,803,803,803
Japan,358,358,358,358,358,358,358
Lebanon,45,45,45,45,45,45,45
Lithuania,35,35,35,35,35,35,35
Malta,127,127,127,127,127,127,127
Netherlands,2371,2371,2371,2371,2371,2371,2371
Norway,1086,1086,1086,1086,1086,1086,1086
Poland,341,341,341,341,341,341,341
Portugal,1519,1519,1519,1519,1519,1519,1480
RSA,58,58,58,58,58,58,58
Saudi Arabia,10,10,10,10,10,10,10
Singapore,229,229,229,229,229,229,229
Spain,2533,2533,2533,2533,2533,2533,2533
Sweden,462,462,462,462,462,462,462
Switzerland,2002,2002,2002,2002,2002,2002,1877
USA,291,291,291,291,291,291,291
United Arab Emirates,68,68,68,68,68,68,68
United Kingdom,495478,495478,494024,495478,495478,495478,361878
Unspecified,446,446,446,446,446,446,244

In [5]:
spain_df = retail_df[retail_df['Country'] == 'Spain']
spain_df.to_csv(path_or_buf="/Users/anup.sethuram/DEV/MGIT/py-de/plant/resources/retail-spain.csv", header=False)

In [6]:
au_df = retail_df[retail_df['Country'] == 'Australia']
au_df.to_csv(path_or_buf="/Users/anup.sethuram/DEV/MGIT/py-de/plant/resources/retail-au.csv", header=False)

In [7]:

us_df = retail_df[retail_df['Country'] == 'USA']
us_df.to_csv(path_or_buf="/Users/anup.sethuram/DEV/MGIT/py-de/plant/resources/retail-us.csv", header=False)

In [8]:
none_df = retail_df[retail_df['Country'] == 'Unspecified']
none_df.to_csv(path_or_buf="/Users/anup.sethuram/DEV/MGIT/py-de/plant/resources/retail-none.csv", header=False)